<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="icon-space"><img src="../../assets/profile-icon.png" style="height: 35px; width: 35px;"></span>
      <span class="head-space">Gourish Bhagat</span>
      <span class="example-spacer"></span>
        <div class="example-button-row">
          <button class="button-label" mat-raised-button color="accent" routerLink="Home">Home</button>
          <button class="button-label" mat-raised-button color="accent" routerLink="About">About Me</button>
          <button class="button-label" mat-raised-button color="accent" routerLink="Experiences">Experiences</button>
          <button class="button-label" mat-raised-button color="accent" routerLink="Projects">Projects</button>
          <button class="button-label" mat-raised-button color="accent" routerLink="Contact">Contact</button>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
</p>