.background-image {
    background-image: url('../../assets/home-background-overlay.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay-content {
    text-align: center;
    color: white;
}
